@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url(../fonts/font.css);
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  border: none;
  cursor: pointer;
}
.page {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
@media screen and (max-width: 1080px) {
}
.container {
  max-width: 1440px;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
  margin: 0 auto;
}
@media screen and (max-width: 1080px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.promo {
  width: 100%;
  display: flex;
  background: linear-gradient(
      rgba(31, 39, 50, 0.8),
      rgba(31, 39, 50, 0.8),
      rgba(31, 39, 50, 0.8)
    ),
    url(../image/promo.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.promo__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.promo__header {
  width: 100%;
  margin: 40px auto 0;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1080px) {
  .promo__header {
    margin: 0 auto;
  }
}
.promo__header-top {
  width: 100%;
  height: 115px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1080px) {
  .promo__header-top {
    border-bottom: 1px solid #4e555f;
    height: 80px;
  }
}
.promo__header-top img {
  width: 400px;
  height: 79px;
}
@media screen and (max-width: 1080px) {
  .promo__header-top img {
    width: 200px;
    height: 55px;
  }
}
.promo__header-top a {
  width: 350px;
  height: 85px;
  background: #ffffff1a;
  border: 1px solid #ffffff1a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 35.2px;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}
.promo__header-top a:hover {
  background: #d1b06b;
  color: #1f2732;
  border: 1px solid #d1b06b;
}
@media screen and (max-width: 1080px) {
  .promo__header-top a {
    display: none;
  }
}
.promo__header-nav {
  width: 100%;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #4e555f;
  border-bottom: 1px solid #4e555f;
}
@media screen and (max-width: 1080px) {
  .promo__header-nav {
    display: none;
  }
}
.promo__header-list {
  display: flex;
  align-items: center;
  gap: 46px;
}
.promo__header-list li a {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 35.2px;
  color: #ffffff;
}
.promo__header-list li a.active {
  color: #d1b06b;
}
.promo__header-list li a:hover {
  color: #d1b06b;
}
.promo__header-connec {
  display: flex;
  gap: 50px;
}
.promo__header-item {
  display: flex;
  align-items: center;
  gap: 12px;
}
.promo__header-item a {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 2px solid #d1b06b;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0, 2s ease-in-out;
}
.promo__header-item a:hover {
  background: #ffffff1a;
}
.promo__header-item a img {
  width: 17px;
  height: 17px;
  object-fit: cover;
}
.promo__header-text {
  display: flex;
  flex-direction: column;
}
.promo__header-text span {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28.8px;
  color: #d1b06b;
}
.promo__header-text p {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26.4px;
  color: #ffffff;
}
.promo__main {
  width: 100%;
  display: flex;
  gap: 16px;
  margin-top: 20px;
}
.promo__main-text {
  max-width: 672px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 90px auto 70px 0;
}
@media screen and (max-width: 1024px) {
  .promo__main-text {
    margin: 0 auto 50px;
  }
}
.promo__main-text img {
  width: 95px;
  height: 44px;
  margin-top: 40px;
}
@media screen and (max-width: 767px) {
  .promo__main-text img {
    margin-top: 0;
  }
}
.promo__main-text h1 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 65px;
  line-height: 78px;
  color: #ffffff;
  margin-top: 14px;
}
@media screen and (max-width: 767px) {
  .promo__main-text h1 {
    font-size: 53px;
    line-height: 53px;
  }
}
.promo__main-text h2 {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 39.6px;
  color: #d1b06b;
  margin-top: 21px;
}
@media screen and (max-width: 767px) {
  .promo__main-text h2 {
    font-size: 28px;
    line-height: 35px;
  }
}
.promo__main a {
  width: 269px;
  height: 85px;
  background: #d1b06b;
  border: 1px solid #d1b06b;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 35.2px;
  color: #1f2732;
  margin-top: 28px;
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 767px) {
  .promo__main a {
    width: 100%;
    height: 60px;
  }
}
.promo__main a:hover {
  background: #ffffff1a;
  color: #fff;
  border: 1px solid #ffffff1a;
}
.promo__main-image {
  width: 672px;
  height: 708px;
}
@media screen and (max-width: 1024px) {
  .promo__main-image {
    display: none;
  }
}
.promo__main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*---welcome---*/
.welcome {
  width: 100%;
  display: flex;
  background: #161d27;
}
.welcome__wrapper {
  display: flex;
  gap: 60px;
  padding-top: 140px;
  padding-bottom: 140px;
  box-sizing: border-box;
}
@media screen and (max-width: 1024px) {
  .welcome__wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .welcome__wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 40px;
  }
}
.welcome__images {
  max-width: 467px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 1024px) {
  .welcome__images {
    flex-direction: row;
    max-width: 100%;
    gap: 5px;
    justify-content: space-between;
  }
}
.welcome__images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 1024px) {
  .welcome__images img {
    width: 48%;
  }
}
.welcome__text {
  max-width: 790px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1024px) {
  .welcome__text {
    max-width: 100%;
  }
}
.welcome__text h2 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 45px;
  line-height: 58.5px;
  color: #ffffff;
  margin-top: 10px;
}
.welcome__icon {
  width: 95px;
  height: 44px;
  margin-top: 11px;
}
.welcome__text-p {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #d7d7d7;
  margin-top: 43px;
}
.welcome__name {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 35px;
}
.welcome__img {
  width: 90px;
  height: 90px;
}
.welcome__name h3 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #ffffff;
}
.welcome__item-wrap {
  display: flex;
  gap: 30px;
  margin-top: 45px;
}
@media screen and (max-width: 767px) {
  .welcome__item-wrap {
    flex-direction: column;
  }
}
.welcome__item {
  width: 315px;
  height: 126px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media screen and (max-width: 1024px) {
  .welcome__item {
    width: 48%;
    height: 100px;
  }
}
@media screen and (max-width: 767px) {
  .welcome__item {
    width: 100%;
  }
}
.item-gray {
  background: #3b434e;
}
.item-gold {
  background: #d1b06b;
}
.welcome__item-text {
  display: flex;
  flex-direction: column;
}
.welcome__item-text-p {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28.6px;
}
.p-gray {
  color: #d7d7d7;
}
.p-gold {
  color: #1f2732;
}
/*---services---*/
.services {
  width: 100%;
  background: #161d27;
}
.services__wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding-top: 120px;
  padding-bottom: 140px;
  box-sizing: border-box;
}
.services__top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.services__title {
  display: flex;
  flex-direction: column;
}
.services__title h2 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 45px;
  line-height: 58.5px;
  color: #ffffff;
}
.services__icon {
  width: 95px;
  height: 44px;
  margin-top: 11px;
}
.services__top h3 {
  max-width: 630px;
  width: 100%;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #d7d7d7;
}
.services__grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  gap: 30px;
}
.services__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 55px 50px;
  box-sizing: border-box;
  background: #1f2732;
}
.services__item-top {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.services__item-top h4 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 56px;
  color: #ffffff;
}
.services__item-top p {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #d7d7d7;
}
.services__item-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #4e555f;
  padding-top: 38px;
  box-sizing: border-box;
}
.services__item-bottom img {
  width: auto;
  height: auto;
}
.services__item-bottom a {
  width: 187px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #161d27;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
.services__item-bottom a:hover {
  background: rgb(209, 176, 107);
  color: #1f2732;
}
/*---advantages---*/
.advantages {
  width: 100%;
  background: #fff;
}
.advantages__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 115px;
  padding-bottom: 82px;
  box-sizing: border-box;
}
.advantages__wrapper h2 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 45px;
  line-height: 54px;
  color: #161d27;
}
.advantages__wrapper img {
  width: 95px;
  height: 44px;
  margin-top: 11px;
}
.advantages__wrapper h3 {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #161d27;
  margin-top: 40px;
  text-align: center;
}
.advantages__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  gap: 30px;
  margin-top: 60px;
}
.advantages__item {
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 20px;
  background: #fbfbfb;
}
.advantages__item-box {
  width: 120px;
  height: 120px;
  border: 2px solid #d1b06b;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.box-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box-inner span {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 39px;
  color: #1f2732;
}
.advantages__item-text {
  display: flex;
  flex-direction: column;
}
.advantages__item-text h5 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
  color: #1f2732;
}
.advantages__item-text p {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #909090;
}
.advantages__last {
  width: 100%;
  padding: 40px 50px;
  box-sizing: border-box;
  background: url(../image/advantages-img.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.advantages__last h5 {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 39px;
  color: #fff;
}
.advantages__last p {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #fff;
}
/*---reviews---*/
.reviews {
  width: 100%;
  background: #161d27;
}
.reviews__wrapper {
  padding-top: 124px;
  padding-bottom: 140px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.reviews__wrapper h2 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 45px;
  line-height: 54px;
  color: #fff;
}
.reviews__wrapper img {
  width: 95px;
  height: 44px;
  margin-top: 11px;
}
.reviews__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
  gap: 30px;
  margin-top: 100px;
}
.reviews__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.reviews__text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 33px;
  background: #2e3947;
  border-radius: 0 0 0 40px;
  padding: 51px 51px 51px 45px;
  box-sizing: border-box;
}
.reviews__text p {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #d7d7d7;
}
.reviews__name {
  display: flex;
  align-items: center;
  gap: 22px;
}
.reviews__name img {
  width: 84px;
  height: 84px;
  border-radius: 50%;
}
.reviews__title {
  display: flex;
  flex-direction: column;
}
.reviews__title h5 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 39px;
  color: #fff;
}
.reviews__title p {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #d7d7d7;
}
.reverse-item {
  flex-direction: column-reverse;
}
.reverse-text {
  border-radius: 40px 0 0 0;
}
/*---lawyers---*/
.lawyers {
  width: 100%;
  background: #fff;
}
.lawyers__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 124px;
  padding-bottom: 120px;
  box-sizing: border-box;
}
.lawyers__wrapper h2 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 45px;
  line-height: 54px;
  color: #161d27;
}
.lawyers__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  gap: 30px;
  margin-top: 70px;
}
.lawyers__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lawyers__item img {
  width: 100%;
  height: 573.58px;
  object-fit: cover;
}
.lawyers__item h3 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 39px;
  color: #161d27;
  margin-top: 20px;
}
.lawyers__item h4 {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #d1b06b;
}
.consultation {
  width: 100%;
  background: #161d27;
}
.consultation__wrapper {
  padding-top: 140px;
  padding-bottom: 140px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.consultation__text {
  max-width: 630px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.consultation__text h2 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 45px;
  line-height: 58px;
  color: #fff;
  text-transform: capitalize;
  max-width: 560px;
  width: 100%;
}
.consultation__icon {
  width: 95px;
  height: 44px;
  margin-top: 9px;
}
.consultation__text p {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #d7d7d7;
  margin-top: 43px;
}
.consultation__text a {
  width: 257px;
  height: 85px;
  background: #d1b06b;
  border: 1px solid #d1b06b;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 35.2px;
  color: #1f2732;
  margin-top: 40px;
  transition: all 0.2s ease-in-out;
}
.consultation__text a:hover {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
}
.consultation__card {
  width: 630px;
  height: fit-content;
  padding: 55px;
  box-sizing: border-box;
  background: #ffffff;
}
.consultation__card-inner {
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
  box-sizing: border-box;
  border: 15px solid #d7d7d7;
}
.consultation__card-inner h3 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 42px;
  line-height: 54.6px;
  color: #1f2732;
}
.consultation__card-desc {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #909090;
  margin-top: 12px;
}
.consultation__card-inner a {
  width: 100%;
  margin-top: 37px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.consultation__card-inner img {
  width: 70px;
  height: 70px;
}
.consultation__title {
  display: flex;
  flex-direction: column;
}
.consultation__title span {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  color: #1f2732;
}
.consultation__title p {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
  color: #1f2732;
}
/*---feedback---*/
.feedback {
  width: 100%;
  background: url(../image/feedback.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}
.feedback__wrapper {
  padding-top: 140px;
  padding-bottom: 140px;
  box-sizing: border-box;
}
.feedback__form {
  width: 100%;
  background: #3b434e;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 90px 100px;
  box-sizing: border-box;
}
.feedback__form-top {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  gap: 40px;
}
.feedback__form-top input {
  width: 100%;
  height: 87px;
}
input,
textarea {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 21.6px;
  color: #fff;
}
input::placeholder,
textarea::placeholder {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 21.6px;
  color: #fff;
}
input,
textarea {
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid gray;
  resize: none;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
}
textarea {
  width: 100%;
  height: 150px;
  margin-top: 65px;
  padding-top: 18px;
  padding-bottom: 18px;
  box-sizing: border-box;
  scrollbar-width: none;
}
.feedback__form button {
  width: 305px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 21.6px;
  color: #3b434e;
  margin-top: 50px;
  transition: all 0.2s ease-in-out;
}
.feedback__form button:hover {
  background: rgb(209, 176, 107);
  color: #1f2732;
}
/*-----адаптив-----*/
.header__burger {
  display: none;
}
@media screen and (max-width: 1090px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    right: 10px;
  }
}
@media screen and (max-width: 1090px) {
  .header__burger:before {
    content: "";
    background-color: #cdaa7d;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 0;
    left: 0;
    transition: all 0.3s ease 0s;
  }
}
@media screen and (max-width: 1090px) {
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
    transition: all 0.3s ease 0s;
  }
}
@media screen and (max-width: 1090px) {
  .header__burger:after {
    content: "";
    background-color: #cdaa7d;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease 0s;
  }
}
@media screen and (max-width: 1090px) {
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
    transition: all 0.3s ease 0s;
  }
}
@media screen and (max-width: 1090px) {
  .header__burger span {
    content: "";
    background-color: #cdaa7d;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 9px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
}
@media screen and (max-width: 1090px) {
  .header__burger.active span {
    transform: scale(0);
  }
}
