@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url(../fonts/font.css);
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  border: none;
  cursor: pointer;
}
.page {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
@media screen and (max-width: 1024px) {
}

/* font-family: "Cormorant Garamond", serif; */
/* font-family: "Outfit", sans-serif; */
.container {
  max-width: 1440px;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
  margin: 0 auto;
}
.promo {
  width: 100%;
  display: flex;
  background: url(../image/promo.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.promo__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.promo__header {
  width: 100%;
  margin: 40px auto 0;
  display: flex;
  flex-direction: column;
}
.promo__header-top {
  width: 100%;
  height: 115px;
  display: flex;
  justify-content: space-between;
}
.promo__header-top img {
  width: 400px;
  height: 79px;
}
.promo__header-top a {
  width: 350px;
  height: 85px;
  background: #ffffff1a;
  border: 1px solid #ffffff1a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 35.2px;
  color: #ffffff;
  transition: all 0.2s ease-out;
}
.promo__header-top a:hover {
  background: #ffffff76;
}
.promo__header-nav {
  width: 100%;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #4e555f;
  border-bottom: 1px solid #4e555f;
}
.promo__header-list {
  display: flex;
  align-items: center;
  gap: 46px;
}
.promo__header-list li a {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 35.2px;
  color: #ffffff;
}
.promo__header-list li a.active {
  color: #d1b06b;
}
.promo__header-list li a:hover {
  color: #d1b06b;
}
